/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'simple/mystyle'
 *= require 'health/style'
 *= require_self
*/
$navbar-default-bg: #a1ce41;
$navbar-default-link-color: #ffffff;
$headings-color: #706342;
$text-color: #706342;
$link-color: #7F7355;
$link-hover-color: #FF8A00;
$link-hover-decoration: underline;

@import "bootstrap-sprockets";
@import "bootstrap";

.conratewebshop-product {
  border: 1px solid #EEEADE;
  margin-bottom: 0px;
  overflow: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(89%, #ffffff), color-stop(100%, #f8f4e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 89%, #f8f4e7 100%);
  /* W3C */
  box-shadow: 0 0 0 3px #FFFFFF inset;
  -moz-box-shadow: 0 0 0 3px #FFFFFF inset;
  -webkit-box-shadow: 0 0 0 3px #FFFFFF inset;
  -box-shadow: 0 0 0 3px #FFFFFF inset;
}
.conratewebshop-product .thumb {
  border: 1px solid #EEEADE;
  overflow: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(89%, #ffffff), color-stop(100%, #f8f4e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 89%, #f8f4e7 100%);
  /* W3C */
  box-shadow: 0 0 0 3px #FFFFFF inset;
  -moz-box-shadow: 0 0 0 3px #FFFFFF inset;
  -webkit-box-shadow: 0 0 0 3px #FFFFFF inset;
  -box-shadow: 0 0 0 3px #FFFFFF inset;
}
.conratewebshop-product .thumb .inner {
  text-align: center;
  margin: 0;
  padding: 0 0 5px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(89%, #ffffff), color-stop(100%, #f8f4e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 89%, #f8f4e7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 89%, #f8f4e7 100%);
  /* W3C */
  border-radius: 5px;
  box-shadow: 0 0 0 3px #FFFFFF inset;
  -moz-box-shadow: 0 0 0 3px #FFFFFF inset;
  -webkit-box-shadow: 0 0 0 3px #FFFFFF inset;
  -box-shadow: 0 0 0 3px #FFFFFF inset;
  overflow: hidden;
}
.conratewebshop-product .thumb .inner .image {
  -webkit-filter: grayscale(00%);
  -moz-filter: grayscale(00%);
  -o-filter: grayscale(00%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.conratewebshop-product .thumb .inner .image:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
.conratewebshop-product .thumb .inner .h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 4px 0;
}
.conratewebshop-product .thumb .inner .price {
  color: #FF8A00;
  font-size: 15px;
  margin-bottom: 7px;
  display: inline-block;
  font-weight: bold;
  line-height: 15px;
}

.conratewebshop-show-product {
  display: block;
  padding: 15px 10px;
  margin-bottom: 15px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #F4F1E7;
  border-radius: 3px;
}

.conratewebshop-show-product .table .price-value {
  color: #FF8A00;
  text-align: right;
}
.conratewebshop-show-product .description {
  text-align: justify;
}

footer {
  /* Old browsers */
  background: -moz-linear-gradient(top, #207cca 0%, #f4f1e7 0%, #ffffff 60%, #f8f5ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #207cca), color-stop(0%, #f4f1e7), color-stop(60%, #ffffff), color-stop(100%, #f8f5ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #207cca 0%, #f4f1e7 0%, #ffffff 60%, #f8f5ee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #207cca 0%, #f4f1e7 0%, #ffffff 60%, #f8f5ee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #207cca 0%, #f4f1e7 0%, #ffffff 60%, #f8f5ee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #207cca 0%, #f4f1e7 0%, #ffffff 60%, #f8f5ee 100%);
  /* IE6789 */
  verflow: hidden;

  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #7F7355;
  font-size: 14px;
  line-height: 24px;
  margin-top: 50px;
}
footer .footer_bottom {
  padding: 10px 0;
  background: #9D9073;
  border-bottom: 1px solid #C6BDA8;
  border-top: 1px solid #C6BDA8;
}
#bottomfooter {
  float: left;
}
footer h5 {
  font-size: 18px;
}
footer #footer ul {
  padding-left: 30px;
  list-style-type: disc;
}
footer #footer .information {
  padding-top: 20px;
}
#bottomfooter ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
#bottomfooter ul li:before {
  content: "|";
  padding-right: 15px;
  color: white
}
#bottomfooter ul li {
  display: inline;
  padding: 0 8px 0 3px;
  list-style: none;
}
#bottomfooter ul li a {
  color: white;
  text-decoration: none;
}

footer .footer_bottom {
  padding-top: 0px;
  padding-bottom: 0px;
}

footer .footer_bottom .copyright {
  color: #fff;
  float: right;
  margin-top: 14px;
}
